.l-content{
    width: 60%;
    margin: 3rem 5%;
}

.l-content-home{
    width: 60%;
    margin: 3rem 5%;
}

.l-sidebar{
    width: 25%;
    margin: 5rem 5% 3rem 0;
}

.l-pan{
    padding: 3rem 0 0;
    margin-left: 5%;
}

.l-main{
    display: flex;
}

.l-footer{
    margin-top: 5rem;
}

.l-admin-content{
    margin-top: 3rem;
}